
section.image-with-text {
    display: grid;
    padding: 20px;
}

section.image-with-text .container {
        display: grid;
    }

 section.image-with-text .container .content-container {
            display: grid;
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
        }

.media-content img {
    width: 100%;
    max-width: fit-content
}

@media (min-width: 769px) {
    section .image-with-text .container .one-one {
        grid-template-columns:  1fr  1fr ;
    }

    section.image-with-text .container .one-two {
        grid-template-columns:  1fr  2fr ;
    }

    section.image-with-text .container .two-one {
        grid-template-columns:  2fr  1fr ;
    }


    section.image-with-text .container .left {
        grid-column: 1;
        grid-row: 1;
    }

    section.image-with-text .container .right {
        grid-column: 2;
        grid-row: 1;
    }
}

@media (max-width: 769px) {
    section.image-with-text .container {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr !important;
            
    }
        section.image-with-text .container .content-container{
            padding-bottom:20px;
            padding-right:40px;
            grid-row-gap:20px;
        }

        section.image-with-text .text-content {
            grid-row: 2
        }

    section.image-with-text .media-content {
        grid-row: 1
    }
   
}
